.footer {
  background-color: $black;
  padding: 36px 0;

  &__inner {
    align-items: center;
    font-weight: 600;
  }

  &__logo {
    img {
      max-width: 191px;

      @media (max-width: 575px) {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;

    @media (max-width: 575px) {
      margin-top: 20px;
    }
  }

  &__item:not(:first-child) {
    margin-left: 40px;
  }

  .social__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 0;

    @media (max-width: 575px) {
      justify-content: center;
      margin-top: 20px;
    }
  }
}
