.header {
  background-image: url("../images/dist/car.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-bottom: 98px;

  @media (max-width: 576px) {
    margin-bottom: 50px;
  }

  &__top {
    padding-top: 19px;
    align-items: center;
  }

  .top {
    &__inner {
      display: flex;
      justify-content: flex-end;
      @media (max-width: 576px) {
        position: fixed;
        top: -105%;
        left: 0;
        width: 100%;
        background-color: $black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 15px;
        overflow-y: auto;
        opacity: 0.9;
        z-index: 1;
        @include transition(0.3s);
      }

      &--active {
        @media (max-width: 576px) {
          top: 0;
        }
      }
    }

    &__logo {
      z-index: 2;
      position: relative;
      img {
        max-width: 139px;
        @media (max-width: 576px) {
          width: 139px;
        }
      }
    }
  }

  .nav__list {
    font: 500 15px/1.25 $userfont;
    @media (max-width: 576px) {
      flex-direction: column;
      font-size: 25px;
    }
    &-item:not(:first-child) {
      margin-left: 40px;
      @media (max-width: 576px) {
        margin: 40px 0 0 0;
      }
    }
  }

  .social__list {
    @media (max-width: 576px) {
      margin: 40px 0 0 0;
    }
  }

  &__content {
    height: 100%;

    .content {
      &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__title {
        font: 700 50px/1.36 $userfont;
        margin-bottom: 32px;

        @media (max-width: 768px) {
          font-size: 45px;
        }

        @media (max-width: 576px) {
          font-size: 40px;
        }
      }

      &__text {
        display: flex;
        margin-bottom: 72px;
        @media (max-width: 620px) {
          flex-direction: column;
        }
        p {
          max-width: 295px;
          @media (max-width: 620px) {
            max-width: 100%;
          }
          margin: 0;
          &:not(:first-child) {
            margin-left: 20px;
            max-width: 272px;
            @media (max-width: 620px) {
              margin: 20px 0 0 0;
              max-width: 100%;
            }
          }
        }
      }

      &__btn {
        button {
          font: 500 20px/1.36 $userfont;
          border: 2px solid $textcolor;
          color: $textcolor;
          background-color: transparent;
          padding: 15px 90px;
          &:hover {
            background-color: $textcolor;
            color: $black;
          }
          @media (max-width: 620px) {
            width: 290px;
            padding: 10px;
            font-size: 17px;
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    transition: transform 250ms ease;
    cursor: pointer;
    z-index: 2;

    @media (max-width: 576px) {
      display: flex;
    }

    & span {
      display: block;
      width: 28px;
      height: 3px;
      border-radius: 2px;
      background-color: $textcolor;
      transform-origin: center center;
      transition: transform 250ms ease;
    }

    & span:nth-of-type(1) {
      transform: translateY(-6px);
    }

    & span:nth-of-type(3) {
      transform: translateY(6px);
    }

    &.is-active {
      span {
        transition: transform 250ms ease;
      }

      span:nth-of-type(1) {
        transform: translateY(0px) rotate(45deg);
      }

      span:nth-of-type(2) {
        display: none;
      }

      span:nth-of-type(3) {
        transform: translateY(-3px) rotate(-45deg);
      }
    }
  }
}
